<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025957601476-1j28oems93bq4tv0q5a4ra2tic95j9km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025957601476-1j28oems93bq4tv0q5a4ra2tic95j9km</string>
	<key>API_KEY</key>
	<string>AIzaSyC_jyvX0jVN6cjitBYnGmqS1qZ0luIAjis</string>
	<key>GCM_SENDER_ID</key>
	<string>1025957601476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charlap.fitnesh</string>
	<key>PROJECT_ID</key>
	<string>fitnesh-f1592</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesh-f1592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025957601476:ios:dc57675274edf9e0162991</string>
</dict>
</plist>